@import "variables";

// iconsは画面右上に固定
// 画面サイズ1200px以上の時の右上アイコンの表示位置
@media only screen and (min-width: 1200px){
  .answer-top-icons {
    margin-top: 10px;
    margin-right: calc(20px + $sidebar-width);
  }
}

// 画面サイズ1200px以下の時の右上アイコンの表示位置
@media only screen and (max-width: 1200px){
  .answer-top-icons {
    margin-top: 10px;
    margin-right: 20px;
  }
}

// 右上ドロップダウンの▼を表示しない
.answer-top-icons .dropdown-toggle::after {
  display: none;
}

// 右上アイコンの大きさ
.answer-top-icons i {
  font-size: 2rem;
}

//右上アイコンの色
.bi-chat-right-text {
  color: blue;
}

.answer-top-icons .bi-trash {
  color: red;
}

// 問題文ドロップダウン
// 画面サイズ992px以上の時、ドロップダウンを表示しない
@media only screen and (min-width: 992px){
  #dropdownQuestionImage {
    width: 420px;
  }
}

// 画面サイズ768px以上992px以下の時、ドロップダウンを表示しない
@media only screen and (max-width: 992px) and (min-width: 768px) {
  #dropdownQuestionImage {
    width: 350px;
  }
}

// 画面サイズ768px以下の時、ドロップダウンを表示しない
@media only screen and (max-width: 767.98px){
  #dropdownQuestionImage {
    width: 300px;
  }
}

// サブタイトルの問題情報
.answer-subtitle .question-info {
  border-bottom: 2px solid blue;
}

// 注意書き
.answer-form-note {
  font-size: 0.7rem;
}

// 解答フォーム全体
.answer-form-field {
  background-color: $whitesmoke;
}

// ボタン
.answer-form-field button {
  background-color: white;
}


// 問題文ドロップダウン の最大高さ
#dropdownQuestionImage {
  max-height: 500px;
  overflow-y: scroll;
  border: 2px solid blue;
}

#dropdownQuestionImage img {
  opacity: 0.95;
}

// 問題文ドロップダウン、ポイントのスクロールバー
#dropdownQuestionImage::-webkit-scrollbar,
.point trix-editor::-webkit-scrollbar,
.point #tab-point-result::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

#dropdownQuestionImage::-webkit-scrollbar-thumb,
.point trix-editor::-webkit-scrollbar-thumb,
.point #tab-point-result::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: $silver;
  border-radius: 0.25rem;
}


// ポイント
.point {
  trix-editor, #tab-point-result {
    height: 300px;
    background-color: white;
    overflow-y: scroll;
    padding: 20px;
  }
}


.answer-form .point trix-toolbar{
  background-color: white;
}

// nav-tabsの非アクティブタブ
.answer-form .nav-tabs a:not(.active):hover{
  color: $deepsilver;
}

.answer-form .nav-tabs a:not(.active){
  border: 1px solid #dee2e6;
  background-color: white;
}

.answer-form .files img,
.answer-show .files img {
  max-height: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// texのembed
.answer-form embed, answer-show embed {
  height: 500px;
  width: 100%;
  margin: 0;
}

// 解答のボタン
.answer-form .btn:not(:hover) {
  background-color: white;
}
