@import "variables";

// 画面サイズ1200px以上の時
@media only screen and (min-width: 1200px){
  // フォントサイズ
  html {
    font-size: $font-size-large;
  }

  // サイドバー
  #sidebar {
    height: -webkit-fill-available;
    width: $sidebar-width;
    font-size: $font-size-medium;
  }

  #page-body {
    padding-right: $sidebar-width;
  }

  main {
    margin: 0 4rem;
  }
}

// 画面サイズ 576pxから1200pxのフォントサイズ
@media only screen and (max-width: 1199.98px) and (min-width: 576px){
  html {
    font-size: $font-size-medium;
  }
}

// 画面サイズ576px以下のフォントサイズ
@media only screen and (max-width: 575.98px){
  // フォントサイズ
  html {
    font-size: $font-size-small;
  }
}

// 画面サイズ1200px以下の時のレイアウト
@media only screen and (max-width: 1199.98px){
  // ページボディ
  #page-body {
    padding-bottom: $sidebar-height;
  }

  // サイドバー（画面下部に固定）
  #sidebar {
    width: 100%;
    height: $sidebar-height;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // サイドバー（画面下部に固定）のアイコン下に配置されたテキストのサイズ
  #sidebar figcaption {
    font-size: 0.75em;
  }
}


// 画面サイズによらない設定

// body, html
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

// サイトロゴ部分の高さ
#site-logo {
  min-height: $header-height;
}

// サイドバー
.sub-nav-item {
  font-size: 0.8em;
  margin-left: calc($icon-size-large - 1.25rem);
}

#sidebar .nav-item a:hover {
  text-decoration: underline white;
}

#sidebar {
  background-color: black;
  position: fixed;
  opacity: 0.8;
}

// サイドバーアイコン
#sidebar i, #sidebar .nav-item-text {
  color: white;
}

#sidebar i{
  font-size: $icon-size-large;
}

// サイドバー、オフキャンバスプロフィール画像
#sidebar .avatar{
  width: $icon-size-large;
  height: $icon-size-large;
  border-radius: 100px;
}

// オフキャンバス
#sidebar #offcanvasHumberger {
  background-color: black;
  font-size: $font-size-medium;
}

// サイドバーオフキャンバス下部のフッター
#sidebar .footer-contents, #sidebar .footer-contents a {
  color: white;
}

// サイドバーオフキャンバス下部のフッターのTwitterアイコン
#sidebar .footer-contents .bi-twitter {
  color: rgb(29, 155, 240);
}

// フッター
footer {
  background-color: $lightsilver;
}

footer .footer-contents {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  min-height: $footer-height;
}

.footer-contents {
  font-size: 0.75rem;
}

.footer-contents .footer-main a:hover {
  text-decoration: underline $black;
}

.footer-contents .footer-copyright {
  font-size: 0.75rem;
}

