@import "variables";

// 変数定義
$sidebar-width: 180px;
$header-height: 60px;
$footer-height: 120px;

// body, html
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

// サイトロゴ部分の高さ
#site-logo {
  min-height: $header-height;
}

// サイドバー
.sub-nav-item {
  font-size: 0.8rem;
}

#sidebar .nav-item a:hover {
  text-decoration: underline $brown;
}

#sidebar .footer-contents {
  font-size: 0.75rem;
}

// フッター
footer {
  background-color: $silver;
}

footer .footer-contents {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  min-height: $footer-height;
}


// 画面サイズ992px以上の時
@media only screen and (min-width: 992px){
  // ページボディ
  #page-body {
    width: calc(100vw - $sidebar-width);
  }

  // サイドバー
  #sidebar {
    height: -webkit-fill-available;
    position: fixed;
    width: $sidebar-width;
    background-color: $lightsilver;
    border-left: $lightsilver;
  }
}

//画面サイズ992px以下の時
@media only screen and (max-width: 991.98px){
  // ページボディ
  #page-body {
    padding-top: $header-height;
  }

  // ヘッダー
  header {
    background-color: $lightsilver;
    position: fixed;
    width: 100%;
  }
}

