@import "variables";

// question#index

.question-card{
  height: 300px;
  overflow: auto;
  background-color: $whitesmoke;
  font-size: 0.8rem;
}

.question-card:hover {
  background-color: $silver;
}


.question-card a:hover {
  text-decoration: none;
}

.questions-index .question-body{
  background-color: white;
}

// question#show

.question-show {
  background-color: $whitesmoke;
}


// question#new, edit
.question-form {
  background-color: $whitesmoke;
}

.question-form button {
  background-color: white;
}
