@import "variables";

.sort-links a[class="active"]{
  pointer-events:none;
}

.sort-links a:not(.active){
  color: $silver;
}

.sort-links a:not(.active):hover{
  text-decoration: underline $brown;
}

.search-form-years select:hover{
  background-color: $silver;
}
