@import "variables";

.delete-account {
  color: red;
}

.delete-account:hover {
  text-decoration: underline red;
  color: red;
}

.change-password {
  color: blue;
}

.change-password:hover {
  text-decoration: underline blue;
  color: blue;
}

.reset-password-link, .user-new-link {
  color: $deepsilver;
  text-decoration: underline black;
}

.user-form, .login-form, .password-reset-form {
  max-width: 800px;
}

.password-reset-form .message {
  background-color: $lightsilver;
}
