.delete-account {
  color: red;
}

.delete-account:hover {
  text-decoration: underline red;
  color: red;
}

.reset-password {
  color: blue;
}

.reset-password:hover {
  text-decoration: underline blue;
  color: blue;
}
