$black: #212529;
$whitesmoke: whitesmoke;
$lightsilver: #f5f2f2;
$silver: #e8e8e8;
$deepsilver: silver;

$icon-size-large: 1.75rem;
$icon-size-small: 1.25rem;

//フォントサイズ
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

// 変数定義
$sidebar-width: 160px;
$sidebar-height: 60px;
$header-height: 60px;
$footer-height: 60px;

