header {
  margin-top: 100px;
}

main {
  display: flex;
  flex-flow: column;
  h3, .content, .links {
    margin: 5px auto;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    .link {
      margin: 0px 2rem;
    }
  }
}
