- content_for(:title, t('.title'))

- content_for :question_partial do
  = render partial: "/admin/questions/question", layout: "/shared/questions/question_layout", collection: @questions, as: :question

= render "/shared/questions/index", \
  { questions_search_form: @questions_search_form, \
    questions_search_form_params: @questions_search_form_params, \
    questions: @questions, \
    pagy: @pagy, \
    sorts_path: "/admin/questions/sorts", \
    search_form_path: "/admin/questions/search_form" \
  }
