@import "variables";

// 変数定義
// tex、files の高さ
$tex-height: 600px;


// iconsは画面右上に固定
// 画面サイズ1200px以上の時の右上アイコンの表示位置
@media only screen and (min-width: 1200px){
  .answer-top-icons {
    z-index: 1;
    position: fixed;
    top: 3px;
    right: calc(20px + $sidebar-width);
  }
}

// 画面サイズ1200px以下の時の右上アイコンの表示位置
@media only screen and (max-width: 1200px){
  .answer-top-icons {
    z-index: 1;
    position: fixed;
    position: fixed;
    top: 3px;
    right: 20px;
  }
}

// 右上ドロップダウンの▼を表示しない
.answer-top-icons .dropdown-toggle::after {
  display: none;
}

// 右上アイコンの大きさ
.answer-top-icons i {
  font-size: 2.5rem;
}


// 問題文ドロップダウン
// 画面サイズ992px以上の時
@media only screen and (min-width: 992px){
  #dropdownQuestionImage {
    width: 520px;
  }
}

// 画面サイズ768px以上992px以下の時
@media only screen and (max-width: 992px) and (min-width: 768px) {
  #dropdownQuestionImage {
    width: 420px;
  }
}

// 画面サイズ768px以下の時
@media only screen and (max-width: 767.98px){
  #dropdownQuestionImage {
    width: 350px;
  }
}

// 問題文ドロップダウン の最大高さ
#dropdownQuestionImage {
  max-height: 500px;
  overflow-y: auto;
  border: 2px solid rgb(39,93,144);
}

// 問題文ドロップダウン、ポイントのスクロールバー
#dropdownQuestionImage::-webkit-scrollbar,
.point trix-editor::-webkit-scrollbar,
.point #tab-point-result::-webkit-scrollbar,
.answer-show .point-field::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

#dropdownQuestionImage::-webkit-scrollbar-thumb,
.point trix-editor::-webkit-scrollbar-thumb,
.point #tab-point-result::-webkit-scrollbar-thumb,
.answer-show .point-field::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: $silver;
  border-radius: 0.25rem;
}

// ページ内部
// サブタイトルの問題情報
.title .question-info {
  border-bottom: 2px solid rgb(39,93,144);
}


// 解答フォーム全体
.answer-form-field, .answer-show {
  background-color: $whitesmoke;
}

// ボタン
.answer-form-field button {
  background-color: white;
}


// ポイント
.point {
  trix-editor, #tab-point-result {
    height: 300px;
    background-color: white;
    overflow-y: auto;
    padding: 20px;
  }
}


.answer-form .point trix-toolbar{
  background-color: white;
}

.point-description-link {
  color: $deepsilver;
}

.point-description-link:hover {
  color: black;
  text-decoration: underline 1px solid black;
}

.answer-form .files {
  // エラーメッセージ
  .error_message {
    color: red;
  }
}

// ファイル、tex 削除ボタン
.answer-form #delete-tex-button,
.answer-form #delete-files-button {
  i {
    color: $deepsilver;
  }
  i:hover {
    color: black;
  }
}

// nav-tabsの非アクティブタブ
.answer-form .nav-tabs a:not(.active):hover{
  color: $deepsilver;
}

.answer-form .nav-tabs a:not(.active){
  border: 1px solid #dee2e6;
  background-color: white;
}

.answer-form .preview .selectbox-container{
  min-width: 2.5rem;
}

// texのiframe
.answer-form iframe{
  height: 350px;
  width: 100%;
  margin: 0;
}

// tex の折りたたみ
.answer-form {
  a[href="#texField"]{
    font-size: 0.75em;
  }

  a[href="#texField"] i {
    font-size: 1.2em;
  }

  a[href="#texField"]:hover {
    border-bottom: solid 1px red;
    color: black;
  }
}

// 解答のボタン
.answer-form .btn:not(:hover) {
  background-color: white;
}


// answer 詳細
.answer-show {
  .point-field {
    overflow-y: auto;
    max-height: 300px;
    background-color: white;
    padding: 1em;
  }

  .tex {
    margin-left: auto;
    margin-right: auto;
  }

  .tex iframe{
    height: $tex-height;
    width: 100%;
  }

  .files {
    margin-left: auto;
    margin-right: auto;
    .carousel-inner {
      .carousel-item {
        img {
          margin-left: auto;
          margin-right: auto;
        }
        iframe {
          height: $tex-height;
          width: 100%;
        }
      }
    }
    // カルーセルインディケーター
    .indicators {
      i.bi-circle {
        color: $deepsilver;
        font-size: 0.5rem;
      }
      i.bi-circle-fill {
        color: red;
        font-size: 0.5rem;
      }
    }
  }
}

// 画面サイズによって tex、filesの幅、高さを変える
// 画面サイズ768px以上の時
@media only screen and (min-width: 768px){
  .answer-show {
    .files {
      width: 75%;
      .carousel-inner {
        height: 600px;
      }
    }
    .tex {
      width: 50%;
    }
  }
}
// 画面サイズ576px以上768px以下の時
@media only screen and (max-width: 768px) and (min-width: 500px){
  .answer-show {
    .files {
      width: 100%;
      .carousel-inner {
        height: 500px;
      }
    }
    .tex {
      width: 80%;
    }
  }
}
// 画面サイズ576px以下の時
@media only screen and (max-width: 500px){
  .answer-show {
    .files {
      width: 100%;
      .carousel-inner {
        height: 400px;
      }
    }
    .tex {
      width: 80%;
    }
  }
}

//answer一覧
// 問題詳細ページとユーザー解答一覧ページの共通設定
// 画面サイズ576px以上の解答カード
@media only screen and (min-width: 576px){
  .answer-card {
    width: 100%;
    overflow-y: auto;
    background-color: $whitesmoke;
    font-size: 0.8rem;
  }
  .answer-card-wrapper {
    width: 95%;
  }
  // 問題詳細ページの他ユーザーの解答一覧
  .another-user-answer .answer-card {
    height: 350px;
  }

  // トップページ, ユーザー解答一覧
  .my-answer .answer-card, .top-answer .answer-card {
    height: 420px;
  }
}


// 画面サイズ576px以下の解答カード
@media only screen and (max-width: 575.98px){
  .answer-card {
    width: 100%;
    overflow-y: auto;
    background-color: $whitesmoke;
    font-size: 0.8rem;
  }
  .answer-card-wrapper {
    width: 90%;
  }

  // 問題詳細ページの他ユーザーの解答一覧
  .another-user-answer .answer-card {
    height: 300px;
  }

  // トップページ, ユーザー解答一覧
  .my-answer .answer-card, .top-answer .answer-card {
    height: 370px;
  }
}

.answer-card {
  a:hover {
    text-decoration: none;
  }
  .question-body{
    background-color: white;
  }
  .point {
    background-color: white;
  }
}

.answer-card:hover {
  background-color: $silver;
}


// 問題詳細ページの他ユーザーの解答一覧
.another-user-answer .answer-card {
  height: 350px;
}

// トッッページ, ユーザー解答一覧
.my-answer .answer-card, .top-answer .answer-card {
  height: 420px;
}

.my-answer label {
  width: 4rem;
}


// 解答カード、大学名横アイコン
// 大学名横のアイコン
//ブックマークアイコン
.answer-card .univ-name-year-info{
  height: 1.5rem;
}

// 右上ドロップダウンの▼を表示しない
.answer-card .dropdown-toggle::after, .question-card .dropdown-toggle::after {
  display: none;
}

//「・・・」アイコンを囲む円
.answer-card .right-icons {
  i {
    font-size: 1.75rem;
  }
  .dropdown-toggle {
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    //「・・・」アイコンのサイズと色
    i {
      color: $deepsilver;
      font-size: 1.25rem;
    }
  }
  //「・・・」アイコンを囲む円
  .dropdown-toggle:hover {
    background-color: rgb(230, 237, 243);
    border: 1px solid rgb(148, 187, 224);
    .bi-three-dots {
      color: rgb(39,93,144);
    }
  }

  // いいねボタン
  i.bi-heart, i.bi-heart-fill {
    font-size: 1.25rem;
    color: $linksilver;
    margin-left: auto;
    margin-right: auto;
  }
  i.bi-heart-fill {
    color: rgb(249, 24, 128);
  }
  .like-button, .unlike-button {
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
  }
  //「・・・」アイコンを囲む円
  .like-button:hover, .unlike-button:hover {
    background-color: rgb(247, 238, 242);
    .bi-heart {
      color: rgb(249, 24, 128);
    }
  }
  .likes-counts {
    font-size: 0.7rem;
    color: $linksilver;
  }
}

//「・・・」アイコンクリック時に開かれるドロップダウン
.answer-card .dropdown-item, .question-card .dropdown-item{
  font-size: 1rem;
  i {
    font-size: 1.25rem;
  }
}

// いいねボタンといいね数の配置
.answer-card {
  .unlike-button, .like-button {
    position: relative;
    .likes-counts{
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .like_icon_description {
    display: none;
  }
}

// 解答詳細上のリンク一覧
.answer-links {
  a {
    font-size: 0.75rem;
    color: $linksilver;
    i {
      font-size: 1.5rem;
      color: $linksilver;
    }
  }
  a:hover {
    color: black;
    i {
      color: black;
    }
  }
}

// 解答詳細上のいいねボタン
.answer-links .likes{
  // いいねボタン
  i.bi-heart-fill {
    color: rgb(249, 24, 128);
  }
  i.bi-heart {
    color: $linksilver;
  }
  .likes-counts {
    font-size: 0.75rem;
    color: $linksilver;
  }
}

// いいねボタンといいね数の配置
.answer-links {
  .unlike-button, .like-button {
    position: relative;
    .likes-counts{
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
