@import "variables";

// question#index

// 画面サイズ576px以上の問題カード
@media only screen and (min-width: 576px){
  .question-card {
    height: 380px;
    overflow-y: auto;
    background-color: $whitesmoke;
    font-size: 0.8rem;
    width: 100%;
  }
  .question-card-wrapper {
    width: 95%;
  }
}


// 画面サイズ576px以下の問題カード
@media only screen and (max-width: 575.98px){
  .question-card {
    height: 330px;
    overflow-y: auto;
    background-color: $whitesmoke;
    font-size: 0.8rem;
    width: 100%;
  }
  .question-card-wrapper {
    width: 90%;
  }
}

.question-card:hover {
  background-color: $silver;
}


.question-card {
  a:hover {
    text-decoration: none;
  }
  .question-body{
    background-color: white;
  }
}



// question#show

.question-show-container {
  max-width: 600px;
}

// 問題詳細上リンク一覧
.question-show-container .question-links {
  a {
    font-size: 0.9rem;
    color: $linksilver;
    i {
      font-size: 1.8rem;
      color: $linksilver;
    }
  }
  a:hover {
    color: black;
    i {
      color: black;
    }
  }
}

.question-show {
  background-color: $whitesmoke;
}


// question#new, edit
.question-form {
  background-color: $whitesmoke;
}

.question-form button {
  background-color: white;
}

// 単元一覧テーブル
.units-table{
  border-spacing : 0.25rem 0.25rem;
  border-collapse : separate;
}

.units-table td{
  vertical-align: top;
  min-width: 3rem;
}

// 大学名横のアイコン
//ブックマークアイコン
.question-card-wrapper i {
  font-size: 2rem;
}

// 右上ドロップダウンの▼を表示しない
.question-card .dropdown-toggle::after {
  display: none;
}

//「・・・」アイコンを囲む円
.question-card .dropdown .dropdown-toggle {
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
}


//「・・・」アイコンを囲む円
.question-card .dropdown .dropdown-toggle:hover {
  background-color: rgb(230, 237, 243);
  border: 1px solid rgb(148, 187, 224);
  .bi-three-dots {
    color: rgb(39,93,144);
  }
}

//「・・・」アイコンのサイズと色
.question-card .dropdown .dropdown-toggle i {
  color: $deepsilver;
  font-size: 1.25rem;
}


//「・・・」アイコンクリック時に開かれるドロップダウン
.question-card .dropdown-item{
  font-size: 1rem;
  i {
    font-size: 1.25rem;
  }
}
