@import "variables";

// 検索フォーム

.search-form-years select {
  background-color: white;
}

.search-form-years select:hover{
  background-color: $deepsilver;
}

// 検索フォームの最大幅1000px
.search-form {
  max-width: 1000px;
}
// 検索フォームの背景色
.search-form {
  background-color: $lightsilver;
}

// 並び替え

.sort-links a[class="active"]{
  pointer-events:none;
}

.sort-links a:not(.active){
  color: $deepsilver;
}

.sort-links a:not(.active):hover {
  color: gray;
}

.sort-links a[class*="active"] {
  color: red;
}

// 単元選択ドロップダウン
// dropdown-item の幅
.units-check-boxes .dropdown-item {
  padding-left: 2.5rem;
}

// 大学選択ドロップダウン
// dropdown-item の幅
.university-radio-buttons .dropdown-item, .search-form-universities .dropdown-item {
  padding-left: 2rem;
}

// 大学選択ドロップダウンボタン
.search-form-universities .dropdown-toggle {
  overflow-x: auto;
}

.search-form-universities .dropdown-toggle::-webkit-scrollbar {
  display:none;
}
