#compile-result {
  height: 600px;
  #log-text {
    height: 600px;
    overflow: auto;
    white-space: break-spaces;
    width: 100%;
  }
  iframe {
    height: 600px;
    width: 100%;
  }
}

#tex-code {
  min-height: 600px;
}



@media only screen and (min-width: 992px){
  // 左側
  #tab-tex-code {
    width: 50%;
    margin-right: 3px;
  }
  // 右側
  #tab-compile-result {
    width: 50%;
    margin-left: 3px;
  }
}
