nav id="sidebarMenu" class="d-md-block col-2 ps-2 bg-light sidebar collapse h-100"
  .position-sticky.pt-5
    / 大学・区分
    h5.nav-title.m-0.p-2
      = t("common.univs_depts")
    ul.nav.flex-column.small
      /一覧
      = render "admin/shared/sidebar_item", \
        { \
          paths: admin_universities_path, \
          item_name: t("common.index"), \
          link: admin_universities_path \
        }
      / 作成
      = render "admin/shared/sidebar_item", \
        { \
          paths: new_admin_university_path, \
          item_name: t("common.create"), \
          link: new_admin_university_path \
        }

    hr

    / 問題
    h5.nav-title.m-0.p-2
      = Question.model_name.human
    ul.nav.flex-column.small
      /一覧
      = render "admin/shared/sidebar_item", \
        { \
          paths: [ \
            admin_questions_path, \
            admin_questions_search_form_path, \
            admin_questions_sort_path(:year_new), \
            admin_questions_sort_path(:created_at_new) \
          ], \
          item_name: t("common.index"), \
          link: admin_questions_path \
        }
      / 作成
      = render "admin/shared/sidebar_item", \
        { \
          paths: new_admin_question_path, \
          item_name: t("common.create"), \
          link: new_admin_question_path \
        }
